<html>
<body>
<head>
    <link href="{{ url_for('static',filename='style.css') }}" type="text/css" rel="stylesheet" >
    
</head>
<header class="regback">
    <div class="regmain">
    <section class="clip-path">
<article class="reg-inner">
            <form action="{{ url_for("regestration") }}" method="POST" class="regform" enctype="multipart/form-data" >
                <div><h4 class="reghead"> Student Signup</h4></div>
                <div class="msg">{{ msg }}</div>
                <div>  <input type="text" name="nm" class="info" placeholder="FULL NAME"></div>
                <div>  <input type="text" name="id" class="info" placeholder="STUDENT ID"></div>
                <div>  <input type="text" name="email" class="info" PLACEHOLDER="EMAIL ID"></div>
                <div>  <input type="text" name="mobno" class="info" placeholder="MOB NO"></div>
                <div>  <input type="text" name="cgpa" class="info" placeholder="CGPA"></div>
                <div>  <input type="text" name="add" class="info" placeholder="ADDRESS"></div>
                <div>  <input type="text" name="branch" class="info" placeholder="BRANCH"></div>
                <div>  <input type="text" name="year" class="info" placeholder="YEAR OF PASSING"></div>
                <div>

<select name="lang" id="lang" class="info select">
    <option value="" >Choose a language</option>
  <option value="C" name="C" >C</option>
  <option value="C++" name="C++" >C++</option>
  <option value="JAVA"name="JAVA" >JAVA</option>
  <option value="PYTHON" name="PYTHON" >PYTHON</option>
</select></div>
                <div>

<select name="gender" id="lang" class="info select">
    <option value="" >Gender</option>
  <option value="male" name="male" >Male</option>
  <option value="female" name="female" >Female</option>

</select></div>
                <div class="">Select Resume: <input type="file" name="resume" accept="file.ext"  required>
    <input type="submit" value="upload " ></div>
                <div class="">Select Photo: <input type="file" name="photo" accept="image/*"  required>
    <input type="submit" value="upload " ></div>
                <div>  <input type="submit" class="info regsub" ></div>
            </form>
            
            

</article>
    </section></div>

</header></body>
</html>